# Node environment
APP_ENV=

# ALGORITHM
ALGORITHM=sha256

JWT_ALGORITHM=HS256

# SECRET
SECRET_KEY=sMaHQIb6Fe84CxnjfdXC7WWLHtuwAHU8jj5spdi6

FRONTEND_URL=

SERVER_URL=

TOKEN_SYMBOL_SYSTEM=

# Database
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=

# Email Service
MAIL_HOST=
NODEMAILER_SES_SENDER=
NODEMAILER_SES_SENDER_NAME=
NODEMAILER_SES_SECRET_KEY=

# Two Factor Authentication (2FA)
TWO_FACTOR_AUTH_ISSUER='Autovest-Chain'